<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web.css') }}"/> 
    <title>SPOTIFY</title>
</head>
<div class="container">
    <img class="brand-logo" alt="photo of Spotify" src="../static/img/Spotify_logo_without_text.png">
    <div class="brand-title">SPOTIFY</div>
    <div class="inputs">
      <label>ARTIST</label>
      <form action="{{ url_for('main') }}"method="POST">
        <input type="search" placeholder="Eminem" id="artist" name="artist"/>
        <button type="submit">SEARCH</button>
    </form>
    </div>
</div>
    